In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('final_test.csv')

In [5]:
df

,Unnamed: 0,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,...,WeatherStationID_or,YearMonthDay_or,Time_or,HourlyPrecip,Hourlyppt_or,WeatherStationID_de,YearMonthDay_de,Time_de,HourlyPrecip.1,Hourlyppt_de
0,0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,...,3017,20050912,1553,0.0,20050912030171553,53922,20050912,1753,0.00,20050912539221753
1,1,DEN_SAT_82515,2005,9,6,2,855,1157,122,DEN,...,3017,20050906,853,0.0,20050906030170853,12921,20050906,1153,0.00,20050906129211153
2,2,DEN_ICT_94174,2005,7,23,6,1556,1817,81,DEN,...,3017,20050723,1553,0.0,20050723030171553,3928,20050723,1856,0.00,20050723039281856
3,3,DEN_SAT_78504,2005,9,4,7,1230,1529,119,DEN,...,3017,20050904,1253,0.0,20050904030171253,12921,20050904,1553,0.00,20050904129211553
4,4,DEN_PHL_82820,2005,3,23,3,1405,1925,200,DEN,...,3017,20050323,1453,0.0,20050323030171453,13739,20050323,1954,0.05,20050323137391954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,6561,GTR_ATL_83479,2005,3,20,7,1415,1629,74,GTR,...,53893,20050320,1455,0.0,20050320538931455,13874,20050320,1651,0.00,20050320138741651
6562,6562,BRO_IAH_75040,2005,3,7,1,1330,1444,74,BRO,...,12919,20050307,1353,0.0,20050307129191353,12960,20050307,1453,0.17,20050307129601453
6563,6563,BRO_IAH_98355,2005,3,16,3,1330,1444,74,BRO,...,12919,20050316,1353,0.0,20050316129191353,12960,20050316,1453,0.00,20050316129601453
6564,6564,FSM_DFW_89528,2005,3,7,1,750,856,66,FSM,...,13964,20050307,753,NaN,20050307139640753,3927,20050307,853,0.00,20050307039270853
6565,6565,CMI_DFW_66446,2005,7,24,7,739,939,120,CMI,...,94870,20050724,753,0.0,20050724948700753,3927,20050724,953,0.00,20050724039270953

In [6]:
df=df.drop('Unnamed: 0', axis=1)

In [7]:
df

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,...,WeatherStationID_or,YearMonthDay_or,Time_or,HourlyPrecip,Hourlyppt_or,WeatherStationID_de,YearMonthDay_de,Time_de,HourlyPrecip.1,Hourlyppt_de
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,...,3017,20050912,1553,0.0,20050912030171553,53922,20050912,1753,0.00,20050912539221753
1,DEN_SAT_82515,2005,9,6,2,855,1157,122,DEN,SAT,...,3017,20050906,853,0.0,20050906030170853,12921,20050906,1153,0.00,20050906129211153
2,DEN_ICT_94174,2005,7,23,6,1556,1817,81,DEN,ICT,...,3017,20050723,1553,0.0,20050723030171553,3928,20050723,1856,0.00,20050723039281856
3,DEN_SAT_78504,2005,9,4,7,1230,1529,119,DEN,SAT,...,3017,20050904,1253,0.0,20050904030171253,12921,20050904,1553,0.00,20050904129211553
4,DEN_PHL_82820,2005,3,23,3,1405,1925,200,DEN,PHL,...,3017,20050323,1453,0.0,20050323030171453,13739,20050323,1954,0.05,20050323137391954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,GTR_ATL_83479,2005,3,20,7,1415,1629,74,GTR,ATL,...,53893,20050320,1455,0.0,20050320538931455,13874,20050320,1651,0.00,20050320138741651
6562,BRO_IAH_75040,2005,3,7,1,1330,1444,74,BRO,IAH,...,12919,20050307,1353,0.0,20050307129191353,12960,20050307,1453,0.17,20050307129601453
6563,BRO_IAH_98355,2005,3,16,3,1330,1444,74,BRO,IAH,...,12919,20050316,1353,0.0,20050316129191353,12960,20050316,1453,0.00,20050316129601453
6564,FSM_DFW_89528,2005,3,7,1,750,856,66,FSM,DFW,...,13964,20050307,753,NaN,20050307139640753,3927,20050307,853,0.00,20050307039270853
6565,CMI_DFW_66446,2005,7,24,7,739,939,120,CMI,DFW,...,94870,20050724,753,0.0,20050724948700753,3927,20050724,953,0.00,20050724039270953

In [57]:
df.columns

Index(['FlightNumber', 'Year', 'Month', 'DayofMonth', 'DayOfWeek',
       'ScheduledDepTime', 'ScheduledArrTime', 'ScheduledTravelTime', 'Origin',
       'Destination', 'Distance', 'WeatherStationID_origin',
       'AirportID_origin', 'GroundHeight_origin', 'StationHeight_origin',
       'BarometerHeight_origin', 'Latitude_origin', 'Longitude_origin',
       'TimeZone_origin', 'WeatherStationID_dest', 'AirportID_dest',
       'GroundHeight_dest', 'StationHeight_dest', 'BarometerHeight_dest',
       'Latitude_dest', 'Longitude_dest', 'TimeZone_dest',
       'WeatherStationID_o', 'YearMonthDay_o', 'Time_o', 'SkyConditions_o',
       'Visibility_o', 'DBT_o', 'DewPointTemp_o', 'RelativeHumidityPercent_o',
       'WindSpeed_o', 'WindDirection_o', 'WindGustValue_o',
       'StationPressure_o', 'new_o', 'WeatherStationID_d', 'YearMonthDay_d',
       'Time_d', 'SkyConditions_d', 'Visibility_d', 'DBT_d', 'DewPointTemp_d',
       'RelativeHumidityPercent_d', 'WindSpeed_d', 'WindDirection_d',
       'WindGustValue_d', 'StationPressure_d', 'new_d', 'WeatherStationID_or',
       'YearMonthDay_or', 'Time_or', 'HourlyPrecip', 'Hourlyppt_or',
       'WeatherStationID_de', 'YearMonthDay_de', 'Time_de', 'HourlyPrecip.1',
       'Hourlyppt_de'],
      dtype='object')

In [58]:
df=df.drop(['Year','Origin',
       'Destination', 'Distance', 'WeatherStationID_origin',
       'AirportID_origin', 'TimeZone_origin', 'WeatherStationID_dest', 'AirportID_dest', 'TimeZone_dest',
           'WeatherStationID_o', 'YearMonthDay_o', 'Time_o', 'new_o', 'WeatherStationID_d', 'YearMonthDay_d',
       'Time_d', 'new_d', 'WeatherStationID_or', 'YearMonthDay_or', 'Time_or', 'Hourlyppt_or', 'WeatherStationID_de',
           'YearMonthDay_de', 'Time_de', 'Hourlyppt_de'], axis=1)

In [59]:
df

,FlightNumber,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,GroundHeight_origin,StationHeight_origin,BarometerHeight_origin,...,Visibility_d,DBT_d,DewPointTemp_d,RelativeHumidityPercent_d,WindSpeed_d,WindDirection_d,WindGustValue_d,StationPressure_d,HourlyPrecip,HourlyPrecip.1
0,DEN_XNA_62349,9,12,1,1516,1756,100,5379,5431,5382,...,9SM,84.0,57.0,40.0,8.0,160,0.0,28.63,0.0,0.00
1,DEN_SAT_82515,9,6,2,855,1157,122,5379,5431,5382,...,10SM,89.0,67.0,48.0,4.0,080,0.0,29.25,0.0,0.00
2,DEN_ICT_94174,7,23,6,1556,1817,81,5379,5431,5382,...,10SM,94.0,66.0,40.0,14.0,140,0.0,28.55,0.0,0.00
3,DEN_SAT_78504,9,4,7,1230,1529,119,5379,5431,5382,...,10SM,94.0,67.0,41.0,10.0,110,0.0,29.14,0.0,0.00
4,DEN_PHL_82820,3,23,3,1405,1925,200,5379,5431,5382,...,3SM,NaN,NaN,NaN,15.0,050,0.0,NaN,0.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,GTR_ATL_83479,3,20,7,1415,1629,74,0,0,0,...,10SM,64.0,33.0,32.0,5.0,VRB,0.0,28.97,0.0,0.00
6562,BRO_IAH_75040,3,7,1,1330,1444,74,21,22,24,...,7SM,NaN,NaN,NaN,7.0,250,0.0,NaN,0.0,0.17
6563,BRO_IAH_98355,3,16,3,1330,1444,74,21,22,24,...,10SM,50.0,40.0,68.0,15.0,330,0.0,29.85,0.0,0.00
6564,FSM_DFW_89528,3,7,1,750,856,66,477,462,480,...,10SM,61.0,57.0,87.0,9.0,210,0.0,29.22,NaN,0.00
6565,CMI_DFW_66446,7,24,7,739,939,120,749,763,752,...,10SM,90.0,69.0,50.0,4.0,VRB,0.0,29.48,0.0,0.00

In [60]:
df.dtypes

FlightNumber                  object
Month                          int64
DayofMonth                     int64
DayOfWeek                      int64
ScheduledDepTime               int64
ScheduledArrTime               int64
ScheduledTravelTime            int64
GroundHeight_origin            int64
StationHeight_origin           int64
BarometerHeight_origin         int64
Latitude_origin              float64
Longitude_origin             float64
GroundHeight_dest              int64
StationHeight_dest             int64
BarometerHeight_dest           int64
Latitude_dest                float64
Longitude_dest               float64
SkyConditions_o               object
Visibility_o                  object
DBT_o                        float64
DewPointTemp_o               float64
RelativeHumidityPercent_o    float64
WindSpeed_o                  float64
WindDirection_o               object
WindGustValue_o              float64
StationPressure_o            float64
SkyConditions_d               object
Visibility_d                  object
DBT_d                        float64
DewPointTemp_d               float64
RelativeHumidityPercent_d    float64
WindSpeed_d                  float64
WindDirection_d               object
WindGustValue_d              float64
StationPressure_d            float64
HourlyPrecip                 float64
HourlyPrecip.1               float64
dtype: object

In [61]:
df.columns

Index(['FlightNumber', 'Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledArrTime', 'ScheduledTravelTime', 'GroundHeight_origin',
       'StationHeight_origin', 'BarometerHeight_origin', 'Latitude_origin',
       'Longitude_origin', 'GroundHeight_dest', 'StationHeight_dest',
       'BarometerHeight_dest', 'Latitude_dest', 'Longitude_dest',
       'SkyConditions_o', 'Visibility_o', 'DBT_o', 'DewPointTemp_o',
       'RelativeHumidityPercent_o', 'WindSpeed_o', 'WindDirection_o',
       'WindGustValue_o', 'StationPressure_o', 'SkyConditions_d',
       'Visibility_d', 'DBT_d', 'DewPointTemp_d', 'RelativeHumidityPercent_d',
       'WindSpeed_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1'],
      dtype='object')

In [62]:
df.isnull().sum()

FlightNumber                   0
Month                          0
DayofMonth                     0
DayOfWeek                      0
ScheduledDepTime               0
ScheduledArrTime               0
ScheduledTravelTime            0
GroundHeight_origin            0
StationHeight_origin           0
BarometerHeight_origin         0
Latitude_origin                0
Longitude_origin               0
GroundHeight_dest              0
StationHeight_dest             0
BarometerHeight_dest           0
Latitude_dest                  0
Longitude_dest                 0
SkyConditions_o                1
Visibility_o                   3
DBT_o                        763
DewPointTemp_o               764
RelativeHumidityPercent_o    766
WindSpeed_o                    0
WindDirection_o                0
WindGustValue_o                0
StationPressure_o            758
SkyConditions_d                4
Visibility_d                   2
DBT_d                        481
DewPointTemp_d               481
RelativeHumidityPercent_d    483
WindSpeed_d                    2
WindDirection_d                2
WindGustValue_d                2
StationPressure_d            473
HourlyPrecip                 486
HourlyPrecip.1               381
dtype: int64

In [63]:
num_cols=df.select_dtypes(include=['int64', 'float64'])
cat_cols=df.select_dtypes(include='object')

In [64]:
cat_cols

,FlightNumber,SkyConditions_o,Visibility_o,WindDirection_o,SkyConditions_d,Visibility_d,WindDirection_d
0,DEN_XNA_62349,FEW080 SCT120 SCT160,10SM,VRB,CLR,9SM,160
1,DEN_SAT_82515,BKN100 BKN140,10SM,300,FEW044,10SM,080
2,DEN_ICT_94174,SCT080CB BKN130 BKN200,10SM,280,CLR,10SM,140
3,DEN_SAT_78504,FEW080 SCT140,10SM,070,FEW060 SCT130 SCT250,10SM,110
4,DEN_PHL_82820,BKN110,10SM,010,BKN009 OVC015,3SM,050
...,...,...,...,...,...,...,...
6561,GTR_ATL_83479,FEW050,10SM,010,SCT130 BKN230,10SM,VRB
6562,BRO_IAH_75040,FEW036,10SM,300,SCT007 BKN018 BKN060 BKN250,7SM,250
6563,BRO_IAH_98355,BKN021 OVC026,10SM,340,BKN025 OVC050,10SM,330
6564,FSM_DFW_89528,FEW085 SCT110,10SM,240,SCT080 BKN150 BKN300,10SM,210
6565,CMI_DFW_66446,CLR,3SM,210,CLR,10SM,VRB

In [65]:
num_cols

,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,GroundHeight_origin,StationHeight_origin,BarometerHeight_origin,Latitude_origin,...,WindGustValue_o,StationPressure_o,DBT_d,DewPointTemp_d,RelativeHumidityPercent_d,WindSpeed_d,WindGustValue_d,StationPressure_d,HourlyPrecip,HourlyPrecip.1
0,9,12,1,1516,1756,100,5379,5431,5382,39.50,...,0.0,24.49,84.0,57.0,40.0,8.0,0.0,28.63,0.0,0.00
1,9,6,2,855,1157,122,5379,5431,5382,39.50,...,0.0,24.91,89.0,67.0,48.0,4.0,0.0,29.25,0.0,0.00
2,7,23,6,1556,1817,81,5379,5431,5382,39.50,...,0.0,24.64,94.0,66.0,40.0,14.0,0.0,28.55,0.0,0.00
3,9,4,7,1230,1529,119,5379,5431,5382,39.50,...,0.0,24.71,94.0,67.0,41.0,10.0,0.0,29.14,0.0,0.00
4,3,23,3,1405,1925,200,5379,5431,5382,39.50,...,0.0,24.21,NaN,NaN,NaN,15.0,0.0,NaN,0.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,3,20,7,1415,1629,74,0,0,0,33.27,...,0.0,30.03,64.0,33.0,32.0,5.0,0.0,28.97,0.0,0.00
6562,3,7,1,1330,1444,74,21,22,24,25.55,...,0.0,29.79,NaN,NaN,NaN,7.0,0.0,NaN,0.0,0.17
6563,3,16,3,1330,1444,74,21,22,24,25.55,...,20.0,29.98,50.0,40.0,68.0,15.0,0.0,29.85,0.0,0.00
6564,3,7,1,750,856,66,477,462,480,35.20,...,0.0,29.23,61.0,57.0,87.0,9.0,0.0,29.22,NaN,0.00
6565,7,24,7,739,939,120,749,763,752,40.02,...,0.0,NaN,90.0,69.0,50.0,4.0,0.0,29.48,0.0,0.00

In [66]:
sky_cond_o=[]
for i in df['SkyConditions_o']:
    a=str(i)
    a=a[:3]
    sky_cond_o.append(a)

In [67]:
df['SkyConditions_o']=sky_cond_o

In [68]:
sky_cond_d=[]
for i in df['SkyConditions_d']:
    a=str(i)
    a=a[:3]
    sky_cond_d.append(a)

In [69]:
df['SkyConditions_d']=sky_cond_d

In [70]:
vis_o=[]
for i in df['Visibility_o']:
    a=str(i)
    b=a.split('S')
    c=b[0]
    vis_o.append(c)

In [71]:
df['Visibility_o']=vis_o

In [72]:
vis_d=[]
for i in df['Visibility_d']:
    a=str(i)
    b=a.split('S')
    c=b[0]
    vis_d.append(c)

In [73]:
df['Visibility_d']=vis_d

In [74]:
wind_o=[]
for i in df['WindDirection_o']:
    if i=='VRB':
        a='270'
    else:
        a=i
    wind_o.append(a)

In [75]:
df['WindDirection_o'] = wind_o

In [76]:
wind_d=[]
for i in df['WindDirection_d']:
    if i=='VRB':
        a='165'
    else:
        a=i
    wind_d.append(a)

In [77]:
df['WindDirection_d']=wind_d

In [78]:
df

,FlightNumber,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,GroundHeight_origin,StationHeight_origin,BarometerHeight_origin,...,Visibility_d,DBT_d,DewPointTemp_d,RelativeHumidityPercent_d,WindSpeed_d,WindDirection_d,WindGustValue_d,StationPressure_d,HourlyPrecip,HourlyPrecip.1
0,DEN_XNA_62349,9,12,1,1516,1756,100,5379,5431,5382,...,9,84.0,57.0,40.0,8.0,160,0.0,28.63,0.0,0.00
1,DEN_SAT_82515,9,6,2,855,1157,122,5379,5431,5382,...,10,89.0,67.0,48.0,4.0,080,0.0,29.25,0.0,0.00
2,DEN_ICT_94174,7,23,6,1556,1817,81,5379,5431,5382,...,10,94.0,66.0,40.0,14.0,140,0.0,28.55,0.0,0.00
3,DEN_SAT_78504,9,4,7,1230,1529,119,5379,5431,5382,...,10,94.0,67.0,41.0,10.0,110,0.0,29.14,0.0,0.00
4,DEN_PHL_82820,3,23,3,1405,1925,200,5379,5431,5382,...,3,NaN,NaN,NaN,15.0,050,0.0,NaN,0.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,GTR_ATL_83479,3,20,7,1415,1629,74,0,0,0,...,10,64.0,33.0,32.0,5.0,165,0.0,28.97,0.0,0.00
6562,BRO_IAH_75040,3,7,1,1330,1444,74,21,22,24,...,7,NaN,NaN,NaN,7.0,250,0.0,NaN,0.0,0.17
6563,BRO_IAH_98355,3,16,3,1330,1444,74,21,22,24,...,10,50.0,40.0,68.0,15.0,330,0.0,29.85,0.0,0.00
6564,FSM_DFW_89528,3,7,1,750,856,66,477,462,480,...,10,61.0,57.0,87.0,9.0,210,0.0,29.22,NaN,0.00
6565,CMI_DFW_66446,7,24,7,739,939,120,749,763,752,...,10,90.0,69.0,50.0,4.0,165,0.0,29.48,0.0,0.00

In [79]:
df['WindDirection_d']=df['WindDirection_d'].astype(float)

In [80]:
df['WindDirection_o']=df['WindDirection_o'].astype(float)

In [81]:
df['Visibility_d']=df['Visibility_d'].astype(float)
df['Visibility_o']=df['Visibility_o'].astype(float)

In [82]:
df.columns

Index(['FlightNumber', 'Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledArrTime', 'ScheduledTravelTime', 'GroundHeight_origin',
       'StationHeight_origin', 'BarometerHeight_origin', 'Latitude_origin',
       'Longitude_origin', 'GroundHeight_dest', 'StationHeight_dest',
       'BarometerHeight_dest', 'Latitude_dest', 'Longitude_dest',
       'SkyConditions_o', 'Visibility_o', 'DBT_o', 'DewPointTemp_o',
       'RelativeHumidityPercent_o', 'WindSpeed_o', 'WindDirection_o',
       'WindGustValue_o', 'StationPressure_o', 'SkyConditions_d',
       'Visibility_d', 'DBT_d', 'DewPointTemp_d', 'RelativeHumidityPercent_d',
       'WindSpeed_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1'],
      dtype='object')

In [83]:
num_cols=df.select_dtypes(include=['int64', 'float64'])

cat_cols=df.select_dtypes(include='object')

In [84]:
df.columns

Index(['FlightNumber', 'Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledArrTime', 'ScheduledTravelTime', 'GroundHeight_origin',
       'StationHeight_origin', 'BarometerHeight_origin', 'Latitude_origin',
       'Longitude_origin', 'GroundHeight_dest', 'StationHeight_dest',
       'BarometerHeight_dest', 'Latitude_dest', 'Longitude_dest',
       'SkyConditions_o', 'Visibility_o', 'DBT_o', 'DewPointTemp_o',
       'RelativeHumidityPercent_o', 'WindSpeed_o', 'WindDirection_o',
       'WindGustValue_o', 'StationPressure_o', 'SkyConditions_d',
       'Visibility_d', 'DBT_d', 'DewPointTemp_d', 'RelativeHumidityPercent_d',
       'WindSpeed_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1'],
      dtype='object')

In [85]:
num_cols=num_cols.drop(['StationHeight_origin', 'BarometerHeight_origin', 'StationHeight_dest', 'BarometerHeight_dest'], axis=1)

In [86]:
df=df.drop(['StationHeight_origin', 'BarometerHeight_origin', 'StationHeight_dest', 'BarometerHeight_dest'], axis=1)

In [87]:
df

,FlightNumber,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,GroundHeight_origin,Latitude_origin,Longitude_origin,...,Visibility_d,DBT_d,DewPointTemp_d,RelativeHumidityPercent_d,WindSpeed_d,WindDirection_d,WindGustValue_d,StationPressure_d,HourlyPrecip,HourlyPrecip.1
0,DEN_XNA_62349,9,12,1,1516,1756,100,5379,39.50,-104.40,...,9.0,84.0,57.0,40.0,8.0,160.0,0.0,28.63,0.0,0.00
1,DEN_SAT_82515,9,6,2,855,1157,122,5379,39.50,-104.40,...,10.0,89.0,67.0,48.0,4.0,80.0,0.0,29.25,0.0,0.00
2,DEN_ICT_94174,7,23,6,1556,1817,81,5379,39.50,-104.40,...,10.0,94.0,66.0,40.0,14.0,140.0,0.0,28.55,0.0,0.00
3,DEN_SAT_78504,9,4,7,1230,1529,119,5379,39.50,-104.40,...,10.0,94.0,67.0,41.0,10.0,110.0,0.0,29.14,0.0,0.00
4,DEN_PHL_82820,3,23,3,1405,1925,200,5379,39.50,-104.40,...,3.0,NaN,NaN,NaN,15.0,50.0,0.0,NaN,0.0,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,GTR_ATL_83479,3,20,7,1415,1629,74,0,33.27,-88.35,...,10.0,64.0,33.0,32.0,5.0,165.0,0.0,28.97,0.0,0.00
6562,BRO_IAH_75040,3,7,1,1330,1444,74,21,25.55,-97.26,...,7.0,NaN,NaN,NaN,7.0,250.0,0.0,NaN,0.0,0.17
6563,BRO_IAH_98355,3,16,3,1330,1444,74,21,25.55,-97.26,...,10.0,50.0,40.0,68.0,15.0,330.0,0.0,29.85,0.0,0.00
6564,FSM_DFW_89528,3,7,1,750,856,66,477,35.20,-94.22,...,10.0,61.0,57.0,87.0,9.0,210.0,0.0,29.22,NaN,0.00
6565,CMI_DFW_66446,7,24,7,739,939,120,749,40.02,-88.17,...,10.0,90.0,69.0,50.0,4.0,165.0,0.0,29.48,0.0,0.00

In [88]:
df.isnull().sum()

FlightNumber                   0
Month                          0
DayofMonth                     0
DayOfWeek                      0
ScheduledDepTime               0
ScheduledArrTime               0
ScheduledTravelTime            0
GroundHeight_origin            0
Latitude_origin                0
Longitude_origin               0
GroundHeight_dest              0
Latitude_dest                  0
Longitude_dest                 0
SkyConditions_o                0
Visibility_o                   3
DBT_o                        763
DewPointTemp_o               764
RelativeHumidityPercent_o    766
WindSpeed_o                    0
WindDirection_o                0
WindGustValue_o                0
StationPressure_o            758
SkyConditions_d                0
Visibility_d                   2
DBT_d                        481
DewPointTemp_d               481
RelativeHumidityPercent_d    483
WindSpeed_d                    2
WindDirection_d                2
WindGustValue_d                2
StationPressure_d            473
HourlyPrecip                 486
HourlyPrecip.1               381
dtype: int64

In [89]:
df['DBT_d']

0       84.0
1       89.0
2       94.0
3       94.0
4        NaN
        ...
6561    64.0
6562     NaN
6563    50.0
6564    61.0
6565    90.0
Name: DBT_d, Length: 6566, dtype: float64

In [90]:
from sklearn.impute import SimpleImputer

In [91]:
mean_imp=SimpleImputer(strategy='mean')
mean_imp.fit(df[num_cols.columns])

SimpleImputer()

In [93]:
df['SkyConditions_o'].mode()

0    FEW
dtype: object

In [94]:
df['SkyConditions_o']=df['SkyConditions_o'].fillna('FEW')

In [95]:
df['SkyConditions_d'].mode()

0    FEW
dtype: object

In [96]:
df['SkyConditions_d']=df['SkyConditions_d'].fillna('FEW')

In [98]:
df_num=pd.DataFrame(mean_imp.transform(df[num_cols.columns]), columns=num_cols.columns)

In [99]:
df1=pd.concat([df_num, df[cat_cols.columns]], axis=1)

In [100]:
df1['SkyConditions_o'].value_counts()

FEW    2701
SCT    1358
BKN    1035
CLR     898
OVC     513
VV0      58
SKC       2
nan       1
Name: SkyConditions_o, dtype: int64

In [101]:
df1

,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,GroundHeight_origin,Latitude_origin,Longitude_origin,GroundHeight_dest,...,RelativeHumidityPercent_d,WindSpeed_d,WindDirection_d,WindGustValue_d,StationPressure_d,HourlyPrecip,HourlyPrecip.1,FlightNumber,SkyConditions_o,SkyConditions_d
0,9.0,12.0,1.0,1516.0,1756.0,100.0,5379.0,39.50,-104.40,1269.0,...,40.000000,8.0,160.0,0.0,28.630000,0.000000,0.00,DEN_XNA_62349,FEW,CLR
1,9.0,6.0,2.0,855.0,1157.0,122.0,5379.0,39.50,-104.40,818.0,...,48.000000,4.0,80.0,0.0,29.250000,0.000000,0.00,DEN_SAT_82515,BKN,FEW
2,7.0,23.0,6.0,1556.0,1817.0,81.0,5379.0,39.50,-104.40,1338.0,...,40.000000,14.0,140.0,0.0,28.550000,0.000000,0.00,DEN_ICT_94174,SCT,CLR
3,9.0,4.0,7.0,1230.0,1529.0,119.0,5379.0,39.50,-104.40,818.0,...,41.000000,10.0,110.0,0.0,29.140000,0.000000,0.00,DEN_SAT_78504,FEW,FEW
4,3.0,23.0,3.0,1405.0,1925.0,200.0,5379.0,39.50,-104.40,59.0,...,54.746013,15.0,50.0,0.0,29.145096,0.000000,0.05,DEN_PHL_82820,BKN,BKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,3.0,20.0,7.0,1415.0,1629.0,74.0,0.0,33.27,-88.35,971.0,...,32.000000,5.0,165.0,0.0,28.970000,0.000000,0.00,GTR_ATL_83479,FEW,SCT
6562,3.0,7.0,1.0,1330.0,1444.0,74.0,21.0,25.55,-97.26,118.0,...,54.746013,7.0,250.0,0.0,29.145096,0.000000,0.17,BRO_IAH_75040,FEW,SCT
6563,3.0,16.0,3.0,1330.0,1444.0,74.0,21.0,25.55,-97.26,118.0,...,68.000000,15.0,330.0,0.0,29.850000,0.000000,0.00,BRO_IAH_98355,BKN,BKN
6564,3.0,7.0,1.0,750.0,856.0,66.0,477.0,35.20,-94.22,559.0,...,87.000000,9.0,210.0,0.0,29.220000,0.011265,0.00,FSM_DFW_89528,FEW,SCT
6565,7.0,24.0,7.0,739.0,939.0,120.0,749.0,40.02,-88.17,559.0,...,50.000000,4.0,165.0,0.0,29.480000,0.000000,0.00,CMI_DFW_66446,CLR,CLR

In [103]:
flight_no=df1['FlightNumber']

In [104]:
df1.drop('FlightNumber', axis=1, inplace=True)

In [109]:
df1_dummies=pd.get_dummies(df1, drop_first=True)

In [111]:
df1_dummies.columns

Index(['Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledArrTime', 'ScheduledTravelTime', 'GroundHeight_origin',
       'Latitude_origin', 'Longitude_origin', 'GroundHeight_dest',
       'Latitude_dest', 'Longitude_dest', 'Visibility_o', 'DBT_o',
       'DewPointTemp_o', 'RelativeHumidityPercent_o', 'WindSpeed_o',
       'WindDirection_o', 'WindGustValue_o', 'StationPressure_o',
       'Visibility_d', 'DBT_d', 'DewPointTemp_d', 'RelativeHumidityPercent_d',
       'WindSpeed_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1',
       'SkyConditions_o_CLR', 'SkyConditions_o_FEW', 'SkyConditions_o_OVC',
       'SkyConditions_o_SCT', 'SkyConditions_o_SKC', 'SkyConditions_o_VV0',
       'SkyConditions_o_nan', 'SkyConditions_d_CLR', 'SkyConditions_d_FEW',
       'SkyConditions_d_OVC', 'SkyConditions_d_SCT', 'SkyConditions_d_SKC',
       'SkyConditions_d_VV0', 'SkyConditions_d_nan'],
      dtype='object')

In [113]:
df1_dummies.drop(['SkyConditions_o_nan', 'SkyConditions_o_SKC', 'SkyConditions_d_nan', 'SkyConditions_d_SKC'], axis=1,
                inplace=True)

## removed cuz high correlation




- 'ScheduledArrTime'--->'ScheduledDepTime'
- 'delay_in_seconds'---> 'FlightDelayStatus'
- 'GroundHeight_origin'--->'StationPressure_o'
- 'GroundHeight_dest'--->'StationPressure_d'
- 'DBT_o'--->'DewPointTemp_o'
- 'DBT_d'--->'DewPointTemp_d'
- 'WindSpeed_o'--->'WindGustValue_o'
- 'WindSpeed_d'--> 'WindGustValue_d'

In [114]:
df1_dummies.columns

Index(['Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledArrTime', 'ScheduledTravelTime', 'GroundHeight_origin',
       'Latitude_origin', 'Longitude_origin', 'GroundHeight_dest',
       'Latitude_dest', 'Longitude_dest', 'Visibility_o', 'DBT_o',
       'DewPointTemp_o', 'RelativeHumidityPercent_o', 'WindSpeed_o',
       'WindDirection_o', 'WindGustValue_o', 'StationPressure_o',
       'Visibility_d', 'DBT_d', 'DewPointTemp_d', 'RelativeHumidityPercent_d',
       'WindSpeed_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1',
       'SkyConditions_o_CLR', 'SkyConditions_o_FEW', 'SkyConditions_o_OVC',
       'SkyConditions_o_SCT', 'SkyConditions_o_VV0', 'SkyConditions_d_CLR',
       'SkyConditions_d_FEW', 'SkyConditions_d_OVC', 'SkyConditions_d_SCT',
       'SkyConditions_d_VV0'],
      dtype='object')

In [115]:
df1_dummies=df1_dummies.drop(['ScheduledArrTime','GroundHeight_origin','GroundHeight_dest',
                             'DBT_o', 'DBT_d', 'WindSpeed_o', 'WindSpeed_d'], axis=1)

In [117]:
df1_dummies.columns

Index(['Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledTravelTime', 'Latitude_origin', 'Longitude_origin',
       'Latitude_dest', 'Longitude_dest', 'Visibility_o', 'DewPointTemp_o',
       'RelativeHumidityPercent_o', 'WindDirection_o', 'WindGustValue_o',
       'StationPressure_o', 'Visibility_d', 'DewPointTemp_d',
       'RelativeHumidityPercent_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1',
       'SkyConditions_o_CLR', 'SkyConditions_o_FEW', 'SkyConditions_o_OVC',
       'SkyConditions_o_SCT', 'SkyConditions_o_VV0', 'SkyConditions_d_CLR',
       'SkyConditions_d_FEW', 'SkyConditions_d_OVC', 'SkyConditions_d_SCT',
       'SkyConditions_d_VV0'],
      dtype='object')

In [118]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [119]:
df1_dummies

,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledTravelTime,Latitude_origin,Longitude_origin,Latitude_dest,Longitude_dest,Visibility_o,...,SkyConditions_o_CLR,SkyConditions_o_FEW,SkyConditions_o_OVC,SkyConditions_o_SCT,SkyConditions_o_VV0,SkyConditions_d_CLR,SkyConditions_d_FEW,SkyConditions_d_OVC,SkyConditions_d_SCT,SkyConditions_d_VV0
0,9.0,12.0,1.0,1516.0,100.0,39.50,-104.40,36.17,-94.19,10.0,...,0,1,0,0,0,1,0,0,0,0
1,9.0,6.0,2.0,855.0,122.0,39.50,-104.40,29.32,-98.28,10.0,...,0,0,0,0,0,0,1,0,0,0
2,7.0,23.0,6.0,1556.0,81.0,39.50,-104.40,37.39,-97.26,10.0,...,0,0,0,1,0,1,0,0,0,0
3,9.0,4.0,7.0,1230.0,119.0,39.50,-104.40,29.32,-98.28,10.0,...,0,1,0,0,0,0,1,0,0,0
4,3.0,23.0,3.0,1405.0,200.0,39.50,-104.40,39.52,-75.14,10.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,3.0,20.0,7.0,1415.0,74.0,33.27,-88.35,33.38,-84.26,10.0,...,0,1,0,0,0,0,0,0,1,0
6562,3.0,7.0,1.0,1330.0,74.0,25.55,-97.26,29.59,-95.22,10.0,...,0,1,0,0,0,0,0,0,1,0
6563,3.0,16.0,3.0,1330.0,74.0,25.55,-97.26,29.59,-95.22,10.0,...,0,0,0,0,0,0,0,0,0,0
6564,3.0,7.0,1.0,750.0,66.0,35.20,-94.22,32.54,-97.02,10.0,...,0,1,0,0,0,0,0,0,1,0
6565,7.0,24.0,7.0,739.0,120.0,40.02,-88.17,32.54,-97.02,3.0,...,1,0,0,0,0,1,0,0,0,0

In [120]:
ss.fit(df1_dummies)

StandardScaler()

In [121]:
df1test=pd.DataFrame(ss.transform(df1_dummies), columns=df1_dummies.columns)

In [122]:
df1test

,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledTravelTime,Latitude_origin,Longitude_origin,Latitude_dest,Longitude_dest,Visibility_o,...,SkyConditions_o_CLR,SkyConditions_o_FEW,SkyConditions_o_OVC,SkyConditions_o_SCT,SkyConditions_o_VV0,SkyConditions_d_CLR,SkyConditions_d_FEW,SkyConditions_d_OVC,SkyConditions_d_SCT,SkyConditions_d_VV0
0,0.592953,-0.435073,-1.506922,0.866137,-0.513513,0.456872,-0.842596,-0.134976,-0.154564,0.504300,...,-0.398037,1.196224,-0.291121,-0.510639,-0.094404,2.357847,-0.868721,-0.271575,-0.503044,-0.047851
1,0.592953,-1.111987,-0.990295,-0.981144,-0.171518,0.456872,-0.842596,-1.443373,-0.411215,0.504300,...,-0.398037,-0.835964,-0.291121,-0.510639,-0.094404,-0.424116,1.151117,-0.271575,-0.503044,-0.047851
2,-0.089369,0.805936,1.076216,0.977924,-0.808872,0.456872,-0.842596,0.098052,-0.347209,0.504300,...,-0.398037,-0.835964,-0.291121,1.958329,-0.094404,2.357847,-0.868721,-0.271575,-0.503044,-0.047851
3,0.592953,-1.337625,1.592843,0.066859,-0.218154,0.456872,-0.842596,-1.443373,-0.411215,0.504300,...,-0.398037,1.196224,-0.291121,-0.510639,-0.094404,-0.424116,1.151117,-0.271575,-0.503044,-0.047851
4,-1.454012,0.805936,-0.473667,0.555928,1.041008,0.456872,-0.842596,0.504896,1.040837,0.504300,...,-0.398037,-0.835964,-0.291121,-0.510639,-0.094404,-0.424116,-0.868721,-0.271575,-0.503044,-0.047851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6561,-1.454012,0.467479,1.592843,0.583875,-0.917688,-0.706868,0.180820,-0.667885,0.468551,0.504300,...,-0.398037,1.196224,-0.291121,-0.510639,-0.094404,-0.424116,-0.868721,-0.271575,1.987897,-0.047851
6562,-1.454012,-0.999168,-1.506922,0.346327,-0.917688,-2.148935,-0.387319,-1.391801,-0.219197,0.504300,...,-0.398037,1.196224,-0.291121,-0.510639,-0.094404,-0.424116,-0.868721,-0.271575,1.987897,-0.047851
6563,-1.454012,0.016203,-0.473667,0.346327,-0.917688,-2.148935,-0.387319,-1.391801,-0.219197,0.504300,...,-0.398037,-0.835964,-0.291121,-0.510639,-0.094404,-0.424116,-0.868721,-0.271575,-0.503044,-0.047851
6564,-1.454012,-0.999168,-1.506922,-1.274586,-1.042050,-0.346352,-0.193476,-0.828331,-0.332149,0.504300,...,-0.398037,1.196224,-0.291121,-0.510639,-0.094404,-0.424116,-0.868721,-0.271575,1.987897,-0.047851
6565,-0.089369,0.918755,1.592843,-1.305327,-0.202609,0.554006,0.192298,-0.828331,-0.332149,-2.197415,...,2.512330,-0.835964,-0.291121,-0.510639,-0.094404,2.357847,-0.868721,-0.271575,-0.503044,-0.047851

In [123]:
df1test.columns

Index(['Month', 'DayofMonth', 'DayOfWeek', 'ScheduledDepTime',
       'ScheduledTravelTime', 'Latitude_origin', 'Longitude_origin',
       'Latitude_dest', 'Longitude_dest', 'Visibility_o', 'DewPointTemp_o',
       'RelativeHumidityPercent_o', 'WindDirection_o', 'WindGustValue_o',
       'StationPressure_o', 'Visibility_d', 'DewPointTemp_d',
       'RelativeHumidityPercent_d', 'WindDirection_d', 'WindGustValue_d',
       'StationPressure_d', 'HourlyPrecip', 'HourlyPrecip.1',
       'SkyConditions_o_CLR', 'SkyConditions_o_FEW', 'SkyConditions_o_OVC',
       'SkyConditions_o_SCT', 'SkyConditions_o_VV0', 'SkyConditions_d_CLR',
       'SkyConditions_d_FEW', 'SkyConditions_d_OVC', 'SkyConditions_d_SCT',
       'SkyConditions_d_VV0'],
      dtype='object')

In [126]:
df1test['flight_no']=flight_no

In [127]:
df1test.to_csv('final_final_test.csv')